<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frogging.app.dao.EventDAO">
	
	<insert id="eventWrite">
		insert into board_event(id, subject, content )
		values(#{id}, #{subject}, #{content} )
	</insert>
		
	<select id="eventList" resultType="EventVO">
		select no, subject, content, id, hit, date_format(writedate, '%y년%m월%d일') writedate
		from board_event
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>	
		order by no desc
		limit ${onePageRecord} offset ${offsetPoint}
	</select>

	<select id="eventList_home" resultType="EventVO">
		select no, subject, content, id, hit, date_format(writedate, '%y년%m월%d일') writedate
		from board_event
		order by no desc
		limit 3 offset 0
	</select>
		
	<select id="totalRecord" resultType="int">
		select count(no) cnt from board_event
		<if test='searchWord!=null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	<select id="getEvent" resultType="EventVO" parameterType="int">
		select no, subject, content, hit, id, writedate
		from board_event
		where no=${param1}
	</select>
	<update id="hitCount">
		update board_event set hit = hit+1 where no = ${param1}
	</update> 
	
	<update id="eventEditOk" parameterType="EventVO">
		update board_event set subject=#{subject}, content=#{content} where no=${no} and id=#{id}
	</update>
	<delete id="eventDel">
		delete from board_event where no=${param1} and id=#{param2}
	</delete>
</mapper>




